
div.profilePicture, div.events, div.contentArea, div.friendList  {
    background-color: rgba(81, 174, 232, 0.375);
    border-radius: 10px;
    opacity: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 1); 


}

.parent{
    display: flex;
    margin-top: 65px;
    background-image: url(img/bg4.jpg);
    background-size: 225vh 110vh;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    border:1px solid red
    
}
.left{
    position: relative;
    display: flex-wrap;
    flex-wrap: nowrap;
    height: 88vh;
    width: 25vmin;
    margin: 10px;
    left:2.5%;
    /* border: solid red 1px; */
}
.profilePicture{
   display: flex;
   flex-wrap: wrap;
    position: relative;
    width: 100%;
    height:51.5%;
    align-items:stretch;
    justify-content: center;

}
.profile-text {
  display: flex;
  flex-direction: column;
  align-items: center; /* or center if you want it centered */
}

.user-profile-image {
  display: flex;
  position: relative; /* Ensures child elements are positioned relative to this */
  width: 100%;
  height: 13.4vmin;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  /* border: solid rgb(0, 128, 13) 3px; */
  cursor: pointer;
  overflow: hidden; /* Prevents unwanted overflow */
}

  
/* .profile{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
} */


.uploader-icon{
  position: relative;
  height: 15px;
  width: 15px;
  z-index: 900;
  color: #060606; 
  cursor: pointer;
  margin-bottom: 5px;
  margin-right: 6px;
  padding: 0px;
}




.profile-pic-overlay {
  display: flex;
  position: absolute; /* Ensures it overlays the parent */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: solid rgb(70, 70, 68) 1px;
  background-color: rgba(52, 52, 51, 0.299); /* Slight transparency for visibility */
  z-index: 10;
  justify-content:space-between;
  align-items: end;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
}

.user-profile-image:hover .profile-pic-overlay {

  opacity: 1;
  pointer-events: auto;
}
.events{
    position: relative;
    margin-top: 17px;
    width: 25vmin;
    height:40vh;
    border: 1px solid rgb(235, 192, 255);
 
}
.contentArea{
  position: relative;
    display: flex;
    height: 88vmin;
    width: 54.5vmax;
    border: 1px solid blue;
    margin: 10px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    left:2.5%;
}

.contentBar{
    display: flex;
    position: relative;
    padding: auto;
    height: 8vmin;
    width: 51.5vmax;
    border: 1px solid rgb(255, 136, 0);
    margin: 8px;
    background-color: rgba(255, 0, 102, 0.466);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8); 
    justify-content: space-between;
    align-items: center;
}

.contentBar button{
  width: 100px;
  height: 45px;
  transform: skew(-20deg);
  padding: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}


.contentBar .animate {
  cursor: pointer;
  transition: transform 0.5s;
}

.contentBar .animate:hover {
  /* Include skew in the hover transform */
  transform: skew(-20deg) translateX(0.5vh) translateY(-1vh);
}


#posts-button{
  margin-left: 40px;
  background-color: rgba(0, 0, 255, 0.5);
}
#biodata-button{
  background-color: rgba(255, 255, 0, 0.5)
}
#create-post-button{
  margin-right: 40px;
  background-color: rgba(0, 128, 0, 0.5)
}


.contentType{
    display: flex;
    position: relative; 
    padding: auto;
    height: 80%;
    width: 95%;
    margin: 8px;
    background-color: rgba(255, 157, 0, 0.467);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
    flex-wrap: wrap;
    overflow-y: hidden;
}
.posts{
    position: relative;
    display: flex;
    grid-template-columns: repeat(4, minmax(24%, 1fr));
    grid-gap: 10px;
    background-color: rgba(0, 98, 255, 0);
    justify-content: space-between;
    margin: 8px;
    padding: 8px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    overflow-y: scroll; 
    flex-wrap: wrap;
}

.post-wrapper {
    display: inline-table;
    width: 10%;
    height: auto;
    /* Ensure each post takes the full width of its container */
}
.posts::-webkit-scrollbar {
    width: 0; 
}

.create-post{
    position: relative;
    left :1.7%;
    height: 68vh;
    width: 107vh;
    border: 1px solid rgb(0, 255, 38);
    margin: 8px;
    background-color: rgb(255, 255, 0);
    border-radius: 10px;

}
.hidden{
    display: none;
}
.show{
    display: flex;
}

.bio{
    position: relative;
    left :1.7%;
    height: 68vh;
    width: 107vh;
    border: 1px solid rgb(0, 255, 38);
    margin: 8px;
    background-color: rgba(0, 255, 13, 0.467);
    border-radius: 10px;
}
.friendList{
  position: relative;
    display: flex;
    justify-content: center;
    width: 48vmin;
    height: 39.7vmax;
    margin: 10px;
    left:2.5%;
}
.friends{
  position: relative;
  display: flexbox;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 10px;
}

.image{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    top:10%;
    left:12%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
}
.postPrev{
    position: absolute;
    width: calc();
    height: calc();
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
    box-sizing: border-box;
    background-size: contain;
}
.preDiv{
    position: absolute;
    top: 4vh;
    left : 3.5vh;
    width: 100vh;
    height:60vh;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
    border-radius: 10px;
    background-color: rgba(165, 42, 42, 0.24);
    background-size: cover;
    border : 1px solid black;
    overflow: scroll;
}

.preDiv::-webkit-scrollbar {
    width: 0; 
    height: 0;
  }
#uploadPost, #postSubmit{
    position: relative;
    top: 50vh;
    left : 10vh;
   
}


  .profile-pict input.hidden {
    display: none;
  }
  


.post_veiwer{
    position: fixed;
    display: none;
    height: 110vh;
    width: 224vh;
    top: 50%; /* Center vertically */
    left: 50.5%; /* Center horizontally */
    transform: translate(-50.25%, -44.5%);
    background-color: rgba(7, 7, 7, 0.3); /* Adjust opacity as needed */
    backdrop-filter: blur(10px); /* Adjust blur strength as needed */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    border-radius: 10px; /* Optional: rounded corners for better aesthetics */
    /* padding: 20px; */
    z-index:1000;
    transition: opacity 0s ease-in-out, visibility 0s ease-in-out;
}
.closebutton{
    z-index: 2000;
    background-color: rgb(123, 123, 197);
}


#logout{
  position: relative;
  width: 94%;
  height: max-content;
  justify-content: center;
  margin-top:55px;
  background-color: #2195f3b5;
  padding: 4px;
  border-radius: 10px;
  bottom: 0%;
}  

.Switcher{
  position: relative;
  display: flex;
  width: 18%;
  height: 15%;
  margin-left: 5px;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
  padding: 0px, 0px;
  /* border: solid red 1px; */
}

.switch {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0%;
}
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    display: flex;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #060606;
    -webkit-transition: .4s;
    transition: .4s;
    align-items: center;
    box-shadow: 1px 1px  rgba(0, 0, 0, 1);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 80%;
    width: 30%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 1px 1px  rgba(0, 0, 0, 1);
    
  }

    /* Rounded sliders */
    .slider.round {
      border-radius: 36px;
    }
    
    .slider.round:before {  
      margin-left: 2px;
      border-radius: 50px;
    }
  
  input:checked + .slider {
    background-color: #2195f3b5;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2195f3b5;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
  }
  


  .masonry {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-auto-rows: masonry;
    gap: 10px; /* Adjust the gap between items as needed */
  }
  
  .masonry-item {
    background: #eee;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    /* Adjust item content styling as needed */
  }




  /* Default styles for mobile */
  @media (max-width: 768px) {
    .left{
      display: flex;
      /* border: 1px solid rgb(170, 7, 245); */
      position: relative;
      flex-wrap: nowrap;
      height: 40vmax;
      width: 100%;
      justify-content: space-between;
    }

    .profilePicture{
      display: flex;
      flex-wrap: wrap;
      position: relative;
      width:45%;
      height:100%;
      align-items:stretch;
      justify-content: center;
   
    }

    .user-profile-image {
      height: 22vmin;
    }

   .events{
    position: relative;
    width: 45%;
    height:100%;
    margin-top: 0%;
    margin-right: 10px;

  }


  .contentArea{
    position: relative;
      display: flex;
      height: 88vmax;
      width: 90%;
      border: 1px solid blue;
      margin: 10px;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
  }
  
  .contentBar{
      gap: 2px;
  }
  
  .contentBar button{
    width: 35%;
    height: 10%;
    transform: skew(-20deg);
    padding: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    font-size: 6px;
  }

  .friendList{
    position: relative;
      display: flex;
      justify-content: center;
      width: 90%;
      height: 39.7vmax;
      margin: 10px;
      left:2.5%;
  }
  }
/* Styles for tablets and up (min-width = 768px) */
@media (max-width: 1024px) {
}

/* Styles for desktops and up (min-width = 1024px) */
/* @media (min-width: 1024px) {
  .element {
    font-size: 18px;
  }
} */