
body::-webkit-scrollbar {
    width: 0em;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent; 
}

.background {
    position: relative;
    display: flex;
    top: 0%;
    margin: 0%;
    height: 100%;
    width: 100%;
    background-image: url('./img/crew.jpg'); 
    background-size: cover; 
    flex-wrap: wrap;
}
.allUsers{
    position: relative;
    justify-content: center;
    align-content:space-between;
    top:11%;
    margin-left: 0.5%;
    height: 80vmin;
    width: 42vmax;
    overflow-y: scroll;
    /* border: 1px solid red;
    background-color: rgba(0, 0, 255, 0.4); */
    flex-wrap: wrap;
}
.allUsers::-webkit-scrollbar {
    width: 0; 
  }
  

  .allUsers::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  
  .allUsers::-webkit-scrollbar-thumb {
    background-color: transparent; 
  }
.card{
    cursor: pointer;
    transition: transform 0.5s;
    &:hover{
        /* transform: translateX(-20px); */
    }
}


/* .fade-content {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  .hidden {
    opacity: 0;
  } */

.homeContent{
  position: relative;
  margin-left: 0.5%;
  top:11%;
  left: 0%;
  height: 88vh;
  width: 125vh;
  /* background-color: rgba(13, 177, 218, 0.536); */
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
  box-shadow: 20px;
}

.publicPosts{
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, minmax(24%, 1fr));
  grid-gap: 10px;
  background-color: rgba(0, 98, 255, 0);
  justify-content: space-between;
  margin: 8px;
  padding: 8px;
  height: 88vh;
  width: 125vh;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
  overflow-y: scroll; 
  flex-wrap: wrap;
}

.publicPosts::-webkit-scrollbar {
  width: 0em;
}
