.blurr{
    filter: blur(8px); 
}

.container {
    position: relative;
  }
.background {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url('./img/Luffy.png'); 
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.login-card{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    margin: 20px;
    border-radius: 10px;
    background-color: rgba(239, 165, 68, 0.384);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
    align-content: center;
    justify-content: center;
    transition: 0.3s;

}


.login-details{
    position:relative;
    display: flex;
    flex-direction: column;
    height:300px;
    width: 310px;
    padding: 40px  30px  ;
    border-radius: 10px;
    background-color: rgba(244, 3, 3, 0.363);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
    transition: 0.3s;
}

.login-details .email{
    position:relative;
    width: 250px;
    height: 30px;
    background-color: rgba(239, 165, 68, 0.384);
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;

}


.login-details .password{
    position:relative;
    width: 250px;
    height: 30px;
    margin-top: 16px;
    background-color: rgba(239, 165, 68, 0.384);
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    
}
.login-details .btn{
    position: relative;
    width: 250px;
    height: 45px;
    margin-top: 40px;
    background-color: rgba(240, 156, 30, 0.527);
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.text-style{
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
    margin-top: 40px;
}
.text-style text{
    position:relative;
    height: 10px;
    width: 10px;
    color: black;
    transition: 0.3s;
}

input::placeholder {
    color:black;
}

@media (width <= 500px){
    .login-card{
        position: relative;
        display: flex;
        width: 70vmin;
        height: 70vh;
        margin: 20px;
        align-content: center;
        justify-content: center;
    }
    .login-details{
        position:relative;
        display: flex;
        flex-direction: column;
        height:66vh;
        width: 63vmin;
        padding: 40px  15px  ;
        border-radius: 10px;
        background-color: rgba(244, 3, 3, 0.363);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
        
    }
    
    .login-details .email{
        position:relative;
        width: 55vmin;
        height: 30px;
        background-color: rgba(239, 165, 68, 0.384);
        border-radius: 5px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
        
    
    }
    
    
    .login-details .password{
        position:relative;
        width: 55vmin;
        height: 30px;
        margin-top: 16px;
        background-color: rgba(239, 165, 68, 0.384);
        border-radius: 5px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
        
        
    }
    .login-details .btn{
        position: relative;
        width: 55vmin;
        height: 45px;
        margin-top: 120px;
        background-color: rgba(240, 156, 30, 0.527);
        border-radius: 5px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
        
    }
    
    .text-style{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        width: 55vmin;
        flex-wrap: wrap;
    }
    .text-style text{
        position:relative;
        height: 10px;
        width: 10px;
        color: black;
    }
    
} 